
body {
    background-color: rgb(123, 189, 228);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 30px; 
  }

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
h2{
    color: rgb(255, 255, 255);
    margin-left:20px;
    font-family: 'Montserrat', sans-serif;

}
a{
    color: rgb(220, 242, 255);
}
table{
    border: 10px solid rgb(255, 255, 255);
}
td{
    border: 10 px solid rgb(255, 255, 255);
}
div{
    text-align: center;
}
h3{
    text-align: 30px;
}